.app-container {
  background: #fff;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 15px;
  border-bottom: 1px solid #ddd;

  @media (min-width: 576px) {
    max-width: 540px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-right: 1px solid #eee;
  }

  @media (min-width: 768px) {
    max-width: 720px;
  }
}
