.app-container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
  background: #fff;
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #eee;

  @media (min-width: 576px)  { max-width: 540px; }
  @media (min-width: 768px)  { max-width: 720px; }
  // @media (min-width: 992px)  { max-width: 960px; }
  // @media (min-width: 1200px) { max-width: 1140px; }
}
