.item {
  padding: 12px 0;

  &:last-child {
    padding-bottom: 0;
  }

  &:not(:last-child) {
    border-bottom: 1px solid #eee;
  }
}

.item {
  .title a {
    color: #212529;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: -0.4px;

    &:visited {
      color: lighten(#212528, 25%);
    }
  }

  &.sold {
    .title a {
      text-decoration: line-through;
    }
  }
}

.subtitle {
  font-size: 14px;
  font-weight: 400;

  ul {
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      display: inline;
    }

    li:not(:first-child):before {
      padding: 0 4px;
      content: '·';
      color: lighten(#212528, 25%);
    }
  }
}

.timestamp.is-new {
  color: #6cb569;
}

.category {
  &:hover {
    color: lighten(#212528, 20%);
    cursor: pointer;
  }
}

.sold {
  span {
    background: #f7a5a5;
    color: fff;
    border-radius: 15px;
    padding: 0px 5px;
    // text-shadow: 1px 1px 0px #ef7979;
    text-shadow: 1px 1px 0px #c17c7c9c;
    text-shadow: 1px 1px 0px #d06e6ed4;
    text-shadow: 1px 1px 0px #d06e6e7a;
    opacity: 0.85;
    color: #fff;
    text-transform: uppercase;
  }
}
